* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar h1 {
    position: relative;
}

.max1::after {
    content: "";
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    width: 0; 
}

.max1:hover::before,
.max1:hover::after {
    width: 100%;
    transition: all 0.3s ease-in-out; 
}

.max1::before {
    content: "";
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out; 
    width: 0; 
}

.max1:hover::before {
    width: 100%; 
    transition: all 0.3s ease-in-out; 
}

